.container {
    width : 500px;
    margin : 0 auto;
}

ul {
    list-style-type : none;
}

li {
    margin-bottom : 10px;
}

li:last-child {
    margin-bottom : 0;
}

label {
    text-transform : uppercase;
}

#rdForm {
    padding : 0 15px;
}